.body {
    margin: 30px;
}

.border {
    border: 1px solid black;
}

.my-button {
    width: 69px;
}

.row-margin {
    margin-top: 1% 
}


#home {
    margin-top: 10%;
}

.extra-margin {
    margin-top: 10%;
}

#booklet{
    display: flex;
    flex-direction: column;
}

#check-mark {
    visibility: hidden;
}